.wheel-wrap {
    position: relative;
    width: 810px;
    height: 900px;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
}
.marker {
    top: 10px;
    left: 400px;
    margin-left: -50px;
    z-index: 2;
    position: absolute;
}
.wheel {
    top: 50px;
    left: 0;
    width: 800px;
    z-index: 1;
    position: absolute;
}